@model RideSharing.ViewModels.VehicleCreateViewModel

@{
    ViewData["Title"] = "Ustvari Novo Vozilo";
}

<h2>@ViewData["Title"]</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Make" class="control-label">Znamka:</label>
        <input asp-for="Make" class="form-control" />
        <span asp-validation-for="Make" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model" class="control-label">Model:</label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label">Leto:</label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LicensePlate" class="control-label">Registrska tablica:</label>
        <input asp-for="LicensePlate" class="form-control" />
        <span asp-validation-for="LicensePlate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Color" class="control-label">Barva:</label>
        <input asp-for="Color" class="form-control" />
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Capacity" class="control-label">Število sedežev brez voznika:</label>
        <input asp-for="Capacity" class="form-control" />
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Shrani" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
