@{
    ViewData["Title"] = "Domov";
}

<h1>Dobrodošli v RideSharing!</h1>
<p>
    RideSharing vam omogoča enostavno iskanje in ponudbo prevozov med uporabniki.
</p>
<p>
    <a asp-controller="Rides" asp-action="Index" class="btn btn-primary">Poglej Prevoze</a>
</p>
