@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            Response.Redirect("/Home/Index");
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
